<!DOCTYPE html>
<html>
  <head>
    <title>ImmersiveRailsAssessment</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header">
      <%= form_tag '/sessions', method: 'delete' do %>
        <%= submit_tag 'Log out' %>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
